* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F2E6E4;
}
.main {
    margin: 0 4% 0 4%;
}

.separator {
    width: 80%;
    background-color: rgb(177, 177, 177);
    margin-left: 2%;
    height: 1px;
    border-radius: 20px;

    
}

.titleind {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 8%;
    margin-bottom: 8%;
    color: rgb(177, 177, 177);
    
}

.title {
    font-size: 80%;
}
.chart {
    margin-top: 4%;
    padding: 2%;
    border-radius: 2%;
}

.indgers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 8% 0;
}

.generals {
    display: grid;
    background-color: aliceblue;
    align-content: center;
    width: 32%;
    justify-items: center;
    border-radius: 0.5em;
}

.monitor {
    margin: 4% 4%;
    display: flex;
    justify-content: space-around;
    
}

.moni {
    width: 40%;
    height: 32%;
    border-radius: 0.4em;
    display: grid;
    justify-items: center;
    background-color: aliceblue;
}